@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
body {
    font-family: 'Nanum Myeongjo', serif;
}
.section {
    padding-top: 70px;
    padding-bottom: 70px;
}
  
.section-content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}