.navbar {
    background-color: transparent;
    padding: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    border-bottom: none;
  }
  
  
  .white-background {
    background-color: white !important;
  }
      
  .nav-link {
    padding: 0 0;

    color: black;
  }
    
  @media (min-width: 768px) {
    .navbar {
      margin-right: -20px;
    }
    .nav-link {
      padding: 10px 15px !important;
    }
  }